variable: pr
attrs:
  units: kg m-2 s-1
  standard_name: precipitation_flux
  grid_mapping: rotated_latitude_longitude
sources:
  type: moose
  collection: land-cpm
  frequency: day
  variables:
    # assumes already extracted and converted to nc
    - name: lsrainsnow
spec:
  - action: coarsen
    parameters:
      scale_factor: ${scale_factor}
      grid_type: vorticity850
  - action: sum
    parameters:
      variables: [stratiform_snowfall_flux, stratiform_rainfall_flux]
      new_variable: pr
  - action: drop-variables
    parameters:
      variables: [stratiform_snowfall_flux, stratiform_rainfall_flux]
  - action: select-subdomain
    parameters:
      domain: ${domain}
  # implicit final actions: assign attrs, save, cleanup extraction?
