variable: spechum${theta}
attrs:
  units: 1
  standard_name: specific_humidity
  grid_mapping: rotated_latitude_longitude
sources:
  type: moose
  collection: land-cpm
  frequency: day
  variables:
    # assumes already extracted and converted to nc
    - name: dailymultilevel
spec:
  - action: drop-variables
    parameters:
      variables:
        - x_wind
        - y_wind
        - air_temperature
  - action: query
    parameters:
      query:
        pressure: ${theta}
  - action: rename
    parameters:
      specific_humidity: spechum${theta}
  - action: coarsen
    parameters:
      scale_factor: ${scale_factor}
      grid_type: vorticity850
  - action: select-subdomain
    parameters:
      domain: ${domain}
  # implicit final actions: assign attrs
