variable: temp${theta}
attrs:
  units: K
  standard_name: air_temperature
  grid_mapping: rotated_latitude_longitude
sources:
  type: moose
  collection: land-cpm
  frequency: day
  variables:
    # assumes already extracted and converted to nc
    # implicit here is rename variable
    - name: temp${theta}
spec:
  - action: coarsen
    parameters:
      scale_factor: ${scale_factor}
      grid_type: vorticity850
  - action: select-subdomain
    parameters:
      domain: ${domain}
  # implicit final actions: assign attrs
