variable: temp${theta}
attrs:
  units: K
  standard_name: air_temperature
  grid_mapping: rotated_latitude_longitude
sources:
  type: moose
  collection: land-cpm
  frequency: day
  variables:
    # assumes already extracted and converted to nc
    - name: mlqtw
spec:
  - action: drop-variables
    parameters:
      variables:
        - x_wind
        - y_wind
        - specific_humidity
  - action: query
    parameters:
      query:
        pressure: ${theta}
  - action: rename
    parameters:
      mapping:
        air_temperature: temp${theta}
  - action: coarsen
    parameters:
      scale_factor: ${scale_factor}
      grid_type: vorticity850
  - action: select-subdomain
    parameters:
      domain: ${domain}
  # implicit final actions: assign attrs
