variable: pr
attrs:
  units: kg m-2 s-1
  standard_name: precipitation_flux
  grid_mapping: rotated_latitude_longitude
sources:
  type: moose
  collection: land-cpm
  variables:
    # assumes already extracted and converted to nc
    # implicit here is rename variable
    - name: lssnow
      frequency: 1hr
    - name: lsrain
      frequency: 1hr
spec:
  - action: coarsen
    parameters:
      scale_factor: ${scale_factor}
      grid: pr
  - action: sum
    params:
      variables: [lssnow, lsrain]
      new_variable: pr
  - action: drop-variables
    parameters:
      variables: [lssnow, lsrain]
  - action: select-subdomain
    parameters:
      domain: $domain
