variable: spechum250
attrs:
  units: 1
  standard_name: specific_humidity
  grid_mapping: rotated_latitude_longitude
sources:
  type: moose
  collection: land-cpm
  variables:
    # assumes already extracted and converted to nc
    # implicit here is rename variable
    - name: spechum250
      frequency: day
spec:
  - action: coarsen
    parameters:
      scale_factor: ${scale_factor}
      grid_type: vorticity850
  - action: select-subdomain
    parameters:
      domain: ${domain}
      size: ${size}
  # implicit final actions: assign attrs, save, cleanup extraction?
