variable: temp850
attrs:
  units: K
  standard_name: air_temperature_850hPa
  grid_mapping: rotated_latitude_longitude
sources:
  type: moose
  collection: land-cpm
  variables:
    # assumes already extracted and converted to nc
    # implicit here is rename variable
    - name: temp850
      frequency: day
spec:
  - action: coarsen
    parameters:
      scale_factor: ${scale_factor}
      grid_type: vorticity850
  - action: select-subdomain
    parameters:
      domain: ${domain}
      size: ${size}
  # implicit final actions: assign attrs, save, cleanup extraction?
