variable: vorticity850
attrs:
  units: s-1
  standard_name: relative_vorticity_850hPa
sources:
  type: moose
  collection: land-cpm
  frequency: day
  variables:
    # assumes already extracted and converted to nc
    # implicit here is rename variable
    - name: xwind850
    - name: ywind850
spec:
  - action: coarsen
    parameters:
      scale_factor: gcm
      grid: vorticity850
      variables: [xwind, ywind]
  - action: vorticity
    parameters:
      theta: 850
  - action: drop-variables
    parameters:
      variables: [xwind850, ywind850]
  - action: select-subdomain
    parameters:
      domain: birmingham
      size: 13
  # implicit final actions: assign attrs, save, cleanup extraction?
