variable: pr
attrs:
  units: kg m-2 s-1
  standard_name: precipitation_flux
  grid_mapping: rotated_latitude_longitude
sources:
  type: moose
  collection: land-gcm
  frequency: day
  variables:
    # assumes already extracted and converted to nc
    # implicit here is rename variable
    - name: pr
spec:
  - action: shift_lon_break
  - action: regrid_to_target
    parameters:
      target_grid_resolution: ${target_resolution}
  - action: select-subdomain
    parameters:
      domain: ${domain}
      size: ${size}
