name: CI
on: [push]
env:
  DATA_PATH: ${{ github.workspace }}/data
jobs:
  ci-checks:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
    steps:
    - name: Clone repo
      uses: actions/checkout@v6
      with:
        lfs: true
    - name: Set up Pixi
      uses: prefix-dev/setup-pixi@v0.9.3
      with:
        pixi-version: v0.59.0
        cache: true
        environments: dev
        activate-environment: true
    - name: Run tests
      run: pixi run test
